@font-face {
    font-family: Raleway;
    src: url('assets/fonts/static/Raleway-Black.ttf');
}



body{
    /* font-family: 'Montserrat'; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

nav{
    position:sticky !important;
    top:0;
    z-index: 1;
    }


@media (max-width:1000px) {
    .hideOnMobile{
        display: none;
        }
        .main>section{
            &:nth-child(1){
                div{
                    background-position:top !important;
                     /* background-repeat: no-repeat; */
                    /* background-attachment: fixed !important; */
                    background-size:90vh !important;
                    width: 100%;
                    height: 90vh !important;
                }
            }
            &:nth-child(3){
                overflow-y:scroll;
            }
        }

}

@media(min-width:999px) {
    .showOnMobile{
        display: none;
        }
    .nav-item{
        margin-inline: 2em;
        font-size: larger;
        &:hover{
            cursor:grab;
            }
        }
    }

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
    }
.navbar-brand,.nav-link{
    color: rgb(255, 255, 255);
    backdrop-filter: blur(1px);
    border-radius: 10px;
        &:hover{
            text-decoration: underline;
            color:whitesmoke;
            text-underline-offset: 5px;
          }

}
@media(min-width:999px) {
    main>section {

        height: 100vh;

        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    html{
        scroll-snap-type:y mandatory;
      }

}
.main>section {

    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;

    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    
    &:nth-child(1){
        background:linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.4)
          ),url('https://img.freepik.com/free-photo/top-view-workspace-with-laptop-cup-tea_23-2148430815.jpg');
        div{
            background-position: center;
            background-image: url('Images-webp/Cover.webp');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(1px);
            color: rgb(249, 249, 249) !important;
            text-shadow: 1px 0px white;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    &:nth-child(2){

        display: none;

        div{
            text-shadow: 1px 0px rgb(0, 0, 0);
            color: rgb(0, 0, 0) !important;
            font-size: larger;
            text-align: center;
        }
    }
    &:nth-child(3){
        background: url('https://c4.wallpaperflare.com/wallpaper/533/463/577/abstract-texture-simple-simple-background-wallpaper-preview.jpg');
    }
    &:nth-child(4){
        
        background:linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
          ), url('https://static.vecteezy.com/system/resources/thumbnails/024/690/675/small_2x/the-coffee-cup-is-closed-up-on-a-wooden-table-in-the-coffee-shop-near-the-window-illuminated-by-warm-afternoon-light-and-there-is-copy-space-available-for-content-and-banner-ai-generative-photo.jpg');
    }
}


.main> section>div {
width: 100%;
height: 100%;
background-size: cover;
background-attachment: fixed;
}

.backdrop-blur{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

section>div.contact-block{
    height: auto;
    width: auto;
    border-radius: 10px;
    color: white;
    border: solid 1px white;
    box-shadow: 1px 1px 100px rgb(250, 225, 112);
}

.my-works-card{
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    aspect-ratio: 3/2;

}

.toast{
/* padding: 1em 2em; */
margin: 0.5em;
box-shadow: 0px 0px 10px rgb(240, 127, 127);
position: fixed;
top: 0;
right: 0;
/* display:flex; */
/* flex-direction: column; */
/* align-items: flex-end; */
color: white;
}


/* //////////// */
.flip-card {
    background-color: transparent;
    /* width: 300px; */
    /* height: 300px; */
    /* perspective: 1000px; */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    align-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
    
  .flip-card-back {
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    border-width: 2px;
    
    border-style: solid;
    font-size: large;
    a{
        color: rgb(198, 203, 40) !important;
        font-family:sans-serif;
        font-weight: 600;
    }
    transform: rotateY(180deg);
    cursor:pointer;
  }