@font-face {
    font-family: Raleway;
    src: url('assets/fonts/static/Raleway-Black.ttf');
}



body{
    /* font-family: 'Montserrat'; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
 
nav{
    position:sticky !important;
    top:0;
    z-index: 1;    
    }


@media (max-width:1000px) {
    .hideOnMobile{
        display: none;        
        }
        .main>section{
            &:nth-child(1){        
                div{
                    background-position:top !important;
                     /* background-repeat: no-repeat; */
                    /* background-attachment: fixed !important; */
                    background-size:90vh !important;
                    width: 100%;
                    height: 90vh !important;                    
                }
            }
            &:nth-child(3){
                overflow-y:scroll;
            }
        }
        
}

@media(min-width:999px) {
    .showOnMobile{
        display: none;
        }
    .nav-item{
        margin-inline: 2em;
        font-size: larger;
        &:hover{
            cursor:grab;
            }
        }
    }

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
    }
.navbar-brand,.nav-link{   
    color: grey;
    backdrop-filter: blur(1px);
    border-radius: 10px;
        &:hover{
            color:white;
        }
}
@media(min-width:999px) {
    main>section {

        height: 100vh;
    
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    html{
        scroll-snap-type:y mandatory;
      }
    
}
.main>section {

    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;

    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url('https://img.freepik.com/premium-photo/3d-abstract-background_493604-1338.jpg');
    &:nth-child(1){        
        div{
            background-position: center;
            background-image: url('Images-webp/Cover.webp');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(1px);
            color: rgb(249, 249, 249) !important;
            text-shadow: 1px 0px white;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    &:nth-child(2){
        display: none;
        div{
            text-shadow: 1px 0px rgb(0, 0, 0);
            color: rgb(0, 0, 0) !important;
            font-size: larger;
            text-align: center;
        }
    }
}


.main> section>div {
width: 100%;
height: 100%;
background-size: cover;
background-attachment: fixed;
}

.backdrop-blur{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

section>div.contact-block{
    height: auto;
    width: auto;
    border-radius: 10px;
    color: white;
    border: solid 1px white;
    box-shadow: 1px 1px 100px rgb(250, 225, 112);
}

.my-works-card{
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    aspect-ratio: 3/2;
}
  
.toast{
/* padding: 1em 2em; */
margin: 0.5em;
box-shadow: 0px 0px 10px rgb(240, 127, 127);
position: fixed;
top: 0;
right: 0;
/* display:flex; */
/* flex-direction: column; */
/* align-items: flex-end; */
color: white;
}